<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiAccess" version="1.0.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="Indeed.Api" version="0.8" targetFramework="net452" />
  <package id="Microsoft.ProjectOxford.SpeechRecognition-x86" version="1.0.0.1" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.3.0" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.3.0" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.3.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="1.4.14" targetFramework="net452" />
</packages>